body {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  min-height: 100vh;
  background-image: url('assets/images/white-minimalist-21.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  font-family: Arial, sans-serif;
  display: flex;
}

.content {
  margin-left: 50px;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  box-sizing: border-box;
  transition: margin-left 0.3s; 
}
.content.expanded {
  margin-left: 250px; /* Ajusta según el ancho del Sidebar cuando esté abierto */
}

.reloj {
  position: fixed;
  top: 0;
  left: 90%;
  z-index: 1000;
  padding: 20px;
}
@media (max-width: 576px) {
  .reloj {
    margin-left: 10%;
  }
}